{% extends 'based.html' %} {% block title %} Home {% endblock %} {% block head%}
{% endblock %} {% block css %} {% endblock %} {% block body %}
<div
  data-app="true"
  class="v-application v-application--is-ltr theme--light"
  id="app"
>
  <div class="v-application--wrap">
    <div data-v-05e803a3="" class="intro">
      <div
        data-v-624a4f5b=""
        data-v-05e803a3=""
        class="header-container d-flex justify-space-between align-center"
      >
        <a data-v-624a4f5b="" href="/" class="router-link-active">
          <div
            data-v-624a4f5b=""
            class="v-image v-responsive theme--light"
            style="width: 132px"
          >
            <div class="v-responsive__sizer" style="padding-bottom: 100%"></div>
            <div
              class="v-image__image v-image__image--contain"
              style="
                background-image: url('https://app.smalltalk2.me/assets/logo_black.df1206f9.svg');
                background-position: center center;
              "
            ></div>
            <div class="v-responsive__content"></div>
          </div>
        </a>
        <span data-v-624a4f5b=""
          >Go to the
          <a data-v-624a4f5b="" href="/auth/signup" class=""> Sign Up </a
          >&nbsp;or&nbsp;
          <a data-v-624a4f5b="" href="/auth/" class=""> Sign In </a>
        </span>
      </div>
      <div data-v-05e803a3="" class="intro-flexbox">
        <h1 data-v-05e803a3="">
          Hi, nice to meet you&nbsp;
          <span data-v-05e803a3="">👋</span>
          <br data-v-05e803a3="" />
          Let us show you what
          <br data-v-05e803a3="" />
          we can do!
        </h1>
        <div data-v-05e803a3="" class="flex-left">
          <p data-v-05e803a3="">What you will need:</p>
          <div
            data-v-05e803a3=""
            class="buttons-container d-flex f-wrap flex-wrap"
          >
            <div
              data-v-05e803a3=""
              class="btn-outlined btn-bg-purple d-flex align-center justify-center"
            >
              <div
                data-v-05e803a3=""
                aria-label="Timer"
                role="img"
                class="v-image v-responsive theme--light"
                style="max-height: 21px"
              >
                <div
                  class="v-responsive__sizer"
                  style="padding-bottom: 100%"
                ></div>
                <div
                  class="v-image__image v-image__image--contain"
                  style="
                    background-image: url('https://app.smalltalk2.me/assets/timer.ff9c9523.svg');
                    background-position: center center;
                  "
                ></div>
                <div class="v-responsive__content" style="width: 28px"></div>
              </div>
              2 Minutes of free time
            </div>
            <div
              data-v-05e803a3=""
              class="btn-outlined btn-bg-yellow d-flex align-center justify-center"
            >
              <div
                data-v-05e803a3=""
                aria-label="Microphone"
                role="img"
                class="v-image v-responsive theme--light"
                style="max-height: 21px"
              >
                <div
                  class="v-responsive__sizer"
                  style="padding-bottom: 141.176%"
                ></div>
                <div
                  class="v-image__image v-image__image--contain"
                  style="
                    background-image: url('https://app.smalltalk2.me/assets/mic.468ca717.svg');
                    background-position: center center;
                  "
                ></div>
                <div class="v-responsive__content" style="width: 17px"></div>
              </div>
              Working Microphone
            </div>
            <div
              data-v-05e803a3=""
              class="btn-outlined btn-bg-blue d-flex align-center justify-center"
            >
              <div
                data-v-05e803a3=""
                aria-label="Armchair"
                role="img"
                class="v-image v-responsive theme--light"
                style="max-height: 21px"
              >
                <div
                  class="v-responsive__sizer"
                  style="padding-bottom: 100%"
                ></div>
                <div
                  class="v-image__image v-image__image--contain"
                  style="
                    background-image: url('https://app.smalltalk2.me/assets/armchair.8cb10a89.svg');
                    background-position: center center;
                  "
                ></div>
                <div class="v-responsive__content" style="width: 24px"></div>
              </div>
              Non-noisy environment
            </div>
          </div>
        </div>
        <div data-v-05e803a3="" class="flex-right">
          <p data-v-05e803a3="">Flow:</p>
          <div data-v-05e803a3="" class="flow-container">
            <div data-v-05e803a3="" class="flow-card d-flex">
              <div
                data-v-05e803a3=""
                aria-label="Speak"
                role="img"
                class="v-image v-responsive theme--light"
                style="max-height: 80px; max-width: 80px"
              >
                <div
                  class="v-responsive__sizer"
                  style="padding-bottom: 100%"
                ></div>
                <div
                  class="v-image__image v-image__image--contain"
                  style="
                    background-image: url('https://app.smalltalk2.me/assets/speak.a5c188a9.svg');
                    background-position: center center;
                  "
                ></div>
                <div class="v-responsive__content" style="width: 80px"></div>
              </div>
              <div data-v-05e803a3="" class="flow-card-desc">
                <p data-v-05e803a3="">Answer the questions</p>
                <span data-v-05e803a3="">Three small steps</span>
              </div>
            </div>
            <div data-v-05e803a3="" class="flow-card d-flex">
              <div
                data-v-05e803a3=""
                aria-label="AI"
                role="img"
                class="v-image v-responsive theme--light"
                style="max-height: 80px; max-width: 80px"
              >
                <div
                  class="v-responsive__sizer"
                  style="padding-bottom: 100%"
                ></div>
                <div
                  class="v-image__image v-image__image--contain"
                  style="
                    background-image: url('https://app.smalltalk2.me/assets/ai.181981dc.svg');
                    background-position: center center;
                  "
                ></div>
                <div class="v-responsive__content" style="width: 80px"></div>
              </div>
              <div data-v-05e803a3="" class="flow-card-desc">
                <p data-v-05e803a3="">Record analysis</p>
                <span data-v-05e803a3=""
                  >Artificial Intelligence will analyse your recording</span
                >
              </div>
            </div>
            <div data-v-05e803a3="" class="flow-card d-flex">
              <div
                data-v-05e803a3=""
                aria-label="Reports"
                role="img"
                class="v-image v-responsive theme--light"
                style="max-height: 80px; max-width: 80px"
              >
                <div
                  class="v-responsive__sizer"
                  style="padding-bottom: 100%"
                ></div>
                <div
                  class="v-image__image v-image__image--contain"
                  style="
                    background-image: url('https://app.smalltalk2.me/assets/reports.08e0587a.svg');
                    background-position: center center;
                  "
                ></div>
                <div class="v-responsive__content" style="width: 80px"></div>
              </div>
              <div data-v-05e803a3="" class="flow-card-desc">
                <p data-v-05e803a3="">Get report</p>
                <span data-v-05e803a3=""
                  >Get detailed information about your English skills</span
                ><a
                  data-v-05e803a3=""
                  href="/shared/c2cng717g577atn7j3k0"
                  class="d-block"
                  >Report Example</a
                >
              </div>
            </div>
            <div data-v-05e803a3="" class="flow-card d-flex">
              <div
                data-v-05e803a3=""
                aria-label="Partner"
                role="img"
                class="v-image v-responsive theme--light"
                style="max-height: 80px; max-width: 80px"
              >
                <div
                  class="v-responsive__sizer"
                  style="padding-bottom: 100%"
                ></div>
                <div
                  class="v-image__image v-image__image--contain"
                  style="
                    background-image: url('https://app.smalltalk2.me/assets/partner.91ace24e.svg');
                    background-position: center center;
                  "
                ></div>
                <div class="v-responsive__content" style="width: 80px"></div>
              </div>
              <div data-v-05e803a3="" class="flow-card-desc">
                <p data-v-05e803a3="">Select the best features for you</p>
                <span data-v-05e803a3=""
                  >Choose from our service what is right for you</span
                >
              </div>
            </div>
          </div>
        </div>


        <a href = '/record'> Start Recording </a> 
      </div>
      <div
        data-v-4f7ae1f7=""
        data-v-05e803a3=""
        class="v-dialog__container mic-dialog-notifications"
      >
        <!---->
      </div>
    </div>
  </div>
</div>
{% endblock%} {% block script-js%} {% endblock%}
