{% extends 'based.html' %}
{% block title %} 
    Record
{% endblock %}

{% block head%}
{% endblock %}

{% block css %}
.step {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 60%;
  display: inline-block;
}
{% endblock %}


{% block body %} 


<!-- Time Duration  -->
<div class="row">
    <div class="days-left position-relative">
      <div class="days-left-popup"><i class="fa-solid fa-clock"></i> 
        <span id = 'time'></span>
      </div>
    </div>
</div>
<!-- Time Duration  -->

<div class="container-xl">
	<div class="row">
		<div class="col-lg-8 mx-auto">
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
				<div class="carousel-inner">
            {% for dd in step_data2 %}

              <div class="carousel-item" id = 'step-{{dd.page_no}}'>
                <div class="days-left position-relative">
                  <div class="days-left-popup"><i class="fa-solid fa-clock"></i> 
                    <span id = 'time'> {{dd.duration_in_sec}}</span>
                  </div>
                </div>
                
                {% for data in dd.question %}
                  <h3 class="testimonial text-center">{{data}}</h3>
                {% endfor %}
              </div>
            {% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<button onclick="next()" class="nect">Start</button>

<center>
  {% comment %} <p><button id="record"> Record</button></p> {% endcomment %}
  <button id="record-start">Start</button>
  <button id="record-pause">pause</button>
  <button id="record-resume">Resume</button>
  <button id="record-stop">Stop</button>


  <div id="sound-clip"></div>
</center>

<form method="post" enctype="multipart/form-data" hidden>
  {% csrf_token %}
  <input type="file" name="audio-file" id = 'audio-file'>
  <button type="submit">Submit</button>
  </form> 

{% endblock%}



{% block script-js %}
<script>
  
    var page_number_list = '{{page_number_list}}';
    var counter = 0;
    page_number_list = JSON.parse(page_number_list)
    function next(){
      if (counter<page_number_list.length )
      {
            document.getElementsByClassName('nect')[0].innerHTML = 'Next'
            try {
              var current   = document.getElementsByClassName(" active");
              current[0].className = current[0].className.replace(" active", "");            }
            catch(err) {};

            id_           = 'step-'+page_number_list[counter];
            document.getElementById(id_).className += ' active';
            counter++;
      }
      else if (counter===page_number_list.length )
      {
        document.getElementsByClassName('nect')[0].innerHTML = 'Finsh'
        window.location.replace("{% url 'report'%}")
      }


    }



    // Recording

/*
    var wavesurfer = WaveSurfer.create({
      container     : '#waveform',
      waveColor     : 'black',
      interact      : false,
      cursorWidth   : 0,
      plugins: [
        WaveSurfer.microphone.create()
      ]
    });
    
    wavesurfer.microphone.on('deviceReady', function(stream) {
        console.log('Device ready!', stream);
    });
    wavesurfer.microphone.on('deviceError', function(code) {
        console.warn('Device error: ' + code);
    });
    
    // start the microphone
    wavesurfer.microphone.start();
    
    // pause rendering
    //wavesurfer.microphone.pause();
    
    // resume rendering
    //wavesurfer.microphone.play();
    
    // stop visualization and disconnect microphone
    //wavesurfer.microphone.stopDevice();
    
    // same as stopDevice() but also clears the wavesurfer canvas
    //wavesurfer.microphone.stop();
    
    // destroy the plugin
    //wavesurfer.microphone.destroy();

*/

</script>


{% endblock%}






